{% extends 'base.html' %}
{% block title %}
Signup
{% endblock %}

{% block content %}
    {% if error %}
        {{ error }}
        <br><br>
    {% endif %}
<h2>Signup!</h2>

<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
Username:
<br>
<input type="text" name="username">
<br>
Password:
<br>
<input type="password" name="password1">
<br>
Confirm Password:
<br>
<input type="password" name="password2">
<br><br>
<input type="submit" value="Signup" class="btn btn-primary">
</form>
{% endblock %}